##########################
# Cfg file for algorithms 
# @author R. Eté, IPNL
# Copyright CNRS / IPNL
##########################



[HoughTransformAlgorithm]

rMax = 140
thetaMax = 100
clusterSizeLimit = 6
minimumBinning = 6
deltaPosMax = 10
trackSegmentMinimumSize = 4
maximumDistanceBetweenHitsInPlane = 4
maximumDistanceBetweenHitsForLayers = 2


[CoreFinderAlgorithm]

coreCountThreshold = 15
minimumThresholdConcentration = 0.7


[NearbyClustering3DAlgorithm]

distance = 2



[IsolationTaggingAlgorithm]

distance = 3
concentrationLimit = 0.075


