###############################
#### overlayEvent.cfg file ####
###############################


[input1]

slciofile = /home/remi/ilcsoft/SDHCAL/data/single_calorimeterhit_pi-_40GeV_I0.slcio
collectionName = HCALBarrel
codingPattern = M:3,S-1:3,I:9,J:9,K-1:6

[input2]

slciofile = /home/remi/ilcsoft/SDHCAL/data/single_calorimeterhit_pi-_40GeV_I1.slcio
collectionName = HCALBarrel
codingPattern = M:3,S-1:3,I:9,J:9,K-1:6

[output]

slcioFile = double_calorimeterhit_test.slcio
collectionName = HCALBarrel
nbOfEventsToOverlay = 20
separationDistance = 7   # in number of pads
codingPattern = M:3,S-1:3,I:9,J:9,K-1:6


