##########################
# Cfg file for algorithms 
# @author R. Eté, IPNL
# Copyright CNRS / IPNL
##########################



[HoughTransformAlgorithm]

rMax = 140
thetaMax = 100
clusterSizeLimit = 4
minimumBinning = 6
deltaPosMax = 12
trackSegmentMinimumSize = 5
maximumDistanceBetweenHitsInPlane = 3
maximumDistanceBetweenHitsForLayers = 2
maximumDistanceAllowedForHitsInTrack = 3


[CoreFinderAlgorithm]

coreCountThreshold = 15
minimumThresholdConcentration = 1.3


[IsolationTaggingAlgorithm]

distance = 3
concentrationLimit = 0.09

